% {erl_opts, [debug_info]}.
% {deps, []}.

% {shell, [
%   % {config, "config/sys.config"},
%     {apps, [filler]}
% ]}.


{relx, [
  {release, {filler, "0.1.1"}, [filler]},
  {dev_mode, false},
  {include_erts, true},
  {include_src, false},
  {extended_start_script, true}
]}.

{profiles, [
  {dev, [{relx, [{dev_mode, true}]}]},
  {prod, [{relx, [{dev_mode, false}]}]}
]}.
